.color{background-color: black;}
.news{
    border :1px solid black;
}
.image{
    background-image: url("../image/newspapper.jpg");
    height: 34rem;
    width: 101rem;

}
.note{
    height: 30%;
    width:100%
}